/* Custom styles cho React Select */

/* Màu chữ cho placeholder và giá trị đã chọn */
.select__control {
  border-color: #e2e8f0 !important;
}

.select__single-value {
  color: #000 !important; /* Màu chữ khi đã chọn một giá trị */
}

.select__placeholder {
  color: #718096 !important; /* Màu chữ cho placeholder */
}

/* Màu chữ và hover cho dropdown menu */
.select__option {
  color: #1a202c !important; /* Màu chữ mặc định cho options */
}

.select__option--is-focused {
  background-color: #e2e8f0 !important; /* Màu nền khi hover */
}

.select__option--is-selected {
  background-color: #3182ce !important; /* Màu nền cho option đã chọn */
  color: #fff !important; /* Màu chữ cho option đã chọn */
}

/* Custom input */
.select__input {
  color: #000 !important;
}

/* Custom indicator separator */
.select__indicator-separator {
  background-color: #e2e8f0 !important;
}

/* Custom dropdown indicator */
.select__dropdown-indicator {
  color: #718096 !important;
}

.select__dropdown-indicator:hover {
  color: #4a5568 !important;
}

/* Custom menu */
.select__menu {
  z-index: 10 !important; /* Đảm bảo dropdown hiển thị trên các phần tử khác */
}
