.section-hot-sale {
  width: 100vw;
  padding: 20px 0px;
  background-color: #e6f5ff;
}

.section-hot-sale {
  padding: 20px 0px;
  background-color: #e6f5ff;
}

.section-hot-sale .item .item_product_main img {
  height: 200px;
}
