.main-dashboard-page{
	padding: 20px 0px;
}

#sidebar .block{
	margin-bottom: 30px;
}


#sidebar .block-user .user-account{
	display: flex;
	align-items: center;
}

#sidebar .block-user .user-account img{
	height: 50px;
	width: 50px;
	margin-right: 15px;
}

#sidebar .block-user .user-account span{
	display: block;
	color: #15963d;
	/* font-size: 24px; */
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

#sidebar .block-sidebar ul li{
	position: relative;
	line-height: 35px;
	margin-bottom: 10px;
}

#sidebar .block-sidebar ul li a{
	display: block;
	color: #15963d;
	font-size: 15px;
	font-weight: 600;
	text-transform: uppercase;
}

#sidebar .block-sidebar ul li a img{
	width: 24px;
	margin-right: 10px;
}

#sidebar .block-sidebar ul li:hover a,
#sidebar .block-sidebar ul li.active a{
	color: #EC2C37;
}

#profile{
	padding: 40px;
	box-shadow: 0px 10px 30px #ccc;
}

#profile .profile-header{
	color: #000;
	margin-bottom: 30px;
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
}

#profile .profile-header h3{
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 20px;
	text-transform: capitalize;
}

#profile .profile-header p{
	font-size: 16px;
	font-weight: 600;
}

.profile-body .name-account .form-group{
	position: relative;
	line-height: 30px;
}

.profile-body .name-account .form-group > div{
	font-size: 16px;
	display: inline-block;
	vertical-align: middle;
}

.profile-body .name-account .form-group .label{
	color: #828282;
	width: 150px;
	font-weight: 600;
	text-align: right;
	margin-right: 50px;
}

.profile-body .name-account .form-group .text{
	color: #000;
	font-weight: 400;
	margin-right: 50px;
}

.profile-body .name-account .form-group .edit{
	font-size: 14px;
	color: #15963d;
}

.profile-body .name-account .form-group .edit a{
	font-size: 14px;
	color: #15963d;
}

.profile-body .name-account .form-group .text .group-inline{
	display: inline-block;
	vertical-align: middle;
	margin-right: 30px;
}

.profile-body .name-account .form-group .text .group-inline label{
	margin-bottom: 0px;
}

.recent-orders .table td, .recent-orders .table th{
	color: #000;
	padding: 10px;
	font-size: 12px;
	border: 1px solid #B9B9B9;
}

.recent-orders .table th{
	font-weight: 600;
	background-color: #f0f0f0;
}

.recent-orders .table td .code{
	font-weight: bold;
	display: block;
}

.recent-orders .table td .date{
	margin-bottom: 0px;
}

.recent-orders .table td .status{
	display: block;
	color: #fff;
	font-weight: bold;
	text-align: center;
	border-radius: 4px;
	padding: 3px;
	background-color: #15963d;
}

.recent-orders .table td .status.cancel{
	background-color: #E70000;
}

.recent-orders .table td .status.pending{
	background-color: #F0592A;
}


.recent-orders .table td .view-more{
	text-decoration: underline;
}

.recent-orders .tracking{
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
}

.recent-orders .tracking:after{
	content: '';
	position: absolute;
	top: 12px;
	left: 20px;
	width: 88%;
	z-index: 1;
	border: 1px dashed #A6A6A6;
}

.recent-orders .tracking .box{
	position: relative;
	z-index: 2;
	text-align: center;
	font-weight: 600;
}

.recent-orders .tracking .box .icon{
	display: block;
	text-align: center;
	margin-bottom: 5px;
}

.recent-orders .tracking .box .icon svg{
	width: 25px;
	height: 25px;
	background-color: #fff;
}

.recent-orders .tracking .box.complete .icon svg path{
	fill: #000;
}

.recent-orders .tracking .box.active .icon svg path{
	fill: #15963d;
}

.recent-orders .tracking .box.disabled .icon svg path{
	fill: #A6A6A6;
}

#complain.profile-header p{
	color: #EC2C37;
	font-size: 14px;
	font-weight: 600;
	font-style: italic;
}



#order-details .details-header{
	position: relative;
	margin-bottom: 50px;
}

#order-details .details-header h3{
	color: #000;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 0px;
	text-decoration:underline;
}

#order-details .tracking{
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
}

#order-details .tracking:after{
	content: '';
	position: absolute;
	top: 45px;
	left: 0px;
	width: 100%;
	z-index: 1;
	border: 1px dashed #A6A6A6;
}

#order-details .tracking .box{
	position: relative;
	z-index: 2;
	text-align: center;
	font-weight: 600;
}

#order-details .tracking .box .icon{
	display: block;
	text-align: center;
	margin-bottom: 20px;
}

#order-details .tracking .box.complete .icon{
	text-align: left;
}

#order-details .tracking .box.delivered .icon{
	text-align: right;
}

#order-details .tracking .box .icon svg{
	width: 90px;
	height: 90px;
	background-color: #fff;
}

#order-details .tracking .box .text{
	color: #000;
	font-size: 24px;
}

#order-details .tracking .box.complete .icon svg path{
	fill: #000;
}

#order-details .tracking .box.active .icon svg path{
	fill: #15963d;
}

#order-details .tracking .box.disabled .icon svg path{
	fill: #A6A6A6;
}

#order-details .order-complain{
	max-width: 1100px;
	margin: 40px auto;
	margin-top: 40px;
}

#order-details .order-complain .complain{
	color: #000;
	border: 1px solid #a6a6a6;
	border-radius: 25px;
	padding: 30px 50px;
}

.order-complain .complain h4{
	font-size: 18px;
	font-weight: bold;
	line-height: 26px;
	margin-bottom: 5px;
}

.order-complain .complain p{
	font-size: 18px;
	line-height: 26px;
	margin-bottom: 5px;
}

.order-complain .complain p a{
	color: #000;
	font-size: 13px;
	text-decoration: underline;
}

.order-complain .complain .status{
	margin-bottom: 5px;
}

.order-complain .complain .status span{
	display: inline-block;
	color: #fff;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	border-radius: 4px;
	padding: 5px 15px;
	background-color: #F0592A;
}

.order-complain .complain .status span.pending{
	background-color: #F0592A;
}

.order-complain .complain .status span.complete{
	background-color: #15963d;
}

.order-complain .complain .status span.cancel{
	background-color: #E70000;
}

#order-details .complain-btn{
	margin-top: 40px;
	text-align: right;
}

#order-details .complain-btn .btn{
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	padding: 10px 30px;
	border-radius: 30px;
	width: 300px;
	background-color: #EC2C37;
	text-transform: uppercase;
	border: 1px solid #EC2C37;
}

#order-details .complain-btn .btn.btn-complain{
	color: #EC2C37;
	border: 1px solid #EC2C37;
	background-color: #fff;
	margin-left: 30px;
}

#order-details .complain-btn .btn:hover{
	color: #fff;
	background-color: #15963d;
	border: 1px solid #15963d;
}

#order-details .details-list{
	margin-top: 40px;
}

.details-list .product-row{
	margin-bottom: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid #B9B9B9;
}

.details-list .order-product{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.details-list .order-product .order-image{
	width: 120px;
}

.details-list .order-product .order-image img{
	max-width: 100%;
}

.details-list .order-product .product-name-wrapper{
	width: 40%;
}

.details-list .order-product .product-name-wrapper .product-name{
	color: #000;
	font-size: 18px;
	font-weight: bold;
	line-height: 26px;
}

.details-list .order-product .product-quantity{
	width: 15%;
	text-align: center;
}

.details-list .order-product .product-quantity span{
	color: #15963d;
	display: block;
	font-size: 17px;
	font-weight: 600;
}

.details-list .order-product .product-prices{
	width: 15%;
	text-align: center;
}

.details-list .order-product .product-prices .price{
	color: #15963d;
	display: block;
	font-size: 17px;
	font-weight: bold;
}

.details-footer{
	margin-top: 40px;
}

.details-footer .details-total{
	display: flex;
	align-items: center;
	gap: 50px;
	justify-content: flex-end;
}

.details-footer .details-total span{
	display: block;
	color: #15963d;
	font-size: 20px;
	font-weight: 600;
}

.details-footer .details-total b{
	color: #EC2C37;
	font-size: 22px;
	font-weight: bold;
}

#modalComplain .modal-body .form-group label{
	display: block;
}

#modalComplain .modal-body .form-group .form-control{
	height: auto;
}