.section-order{
	padding: 20px 0px;
	background-color: #F1F1F1;
}

.product-wrapper{
	background-color: #fff;
	border-radius: 30px 30px 0px 0px;
}

.product-search{
	padding: 35px 70px;
	border-radius: 30px 30px 0px 0px;
	box-shadow: 0px 4px 25px #ccc;
}

.product-search .search-form{
	position: relative;
}

.product-search .search-form .form-control{
	height: 48px;
	border-radius: 30px;
	padding: 0px 20px;
	padding-right: 80px;
}

.product-search .search-form .btn{
	padding: 0px;
	position: absolute;
	top: 0px;
	right: 0px;
	width: 80px;
    height: 48px;
    z-index: 9;
    border: none;
}

.product-search .search-form .btn img{
	height: 22px;
	width: 22px;
}

.product-list .product-row{
	padding: 35px;
	border-bottom: 1px solid #ccc;
}

.product-row .order-product{
	width: 100%;
	display: flex;
	align-items: center;
}

.product-row .order-product .order-image{
	width: 120px;
	display: flex;
    align-items: center;
    justify-content: center;
}

.product-row .order-product .order-image img{
	height: 90px;
}

.product-row .order-product .order-info{
	vertical-align: top;
    display: flex;
    gap: 30px;
    padding-left: 50px;
    width: 100%;
}

.product-row .order-info .product-name-wrapper{
	width: 60%;
}

.product-name-wrapper .product-name{
	color: #000;
	font-size: 17px;
	font-weight: bold;
	line-height: 26px;
	display: block;
	margin-bottom: 10px;
}

.product-name-wrapper .product-name:hover{
	color: #15963d;
}

.product-name-wrapper .note{
	display: block;
	color: #15963d;
	font-size: 14px;
	margin-bottom: 5px;
}

.product-name-wrapper .smart{
	display: flex;
	gap: 15px;
	align-items: center;
	margin-top: 6px;
}

.product-name-wrapper .smart span{
	display: inline-block;
	color: #EC2C37;
	font-size: 20px;
	font-weight: bold;
}

.product-name-wrapper .smart .hot{
	color: #fff;
	font-size: 11px;
	padding: 2px 3px;
	border-radius: 4px;
	background-color: #EC2C37;
}

.product-row .order-info .grid{
	width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-prices .price-box{
	color: #15963d;
}

.product-prices .price-box span{
	display: block;
}

.product-prices .price-box .price{
	font-size: 14px;
}

.product-prices .price-box .compare-price{
	font-size: 15px;
	font-weight: bold;
    text-decoration: line-through;
    /* text-align: right; */
}

.product-quantity .input-group-btn{
	display: flex;
	gap: 20px;
	align-items: center;
	justify-content: center;
}

.product-quantity .input-group-btn .items-count{
	height: 25px;
	width: 25px;
	color: #fff;
	font-size: 24px;
	font-weight: bold;
	border-radius: 50%;
	display: flex;
    align-items: center;
    justify-content: center;
	border: 1px solid #15963d;
	background-color: #15963d;
}

.product-quantity .input-group-btn .items-count.qty-plus{
	color: #15963d;
	background-color: transparent;
}

.product-quantity .input-group-btn .qty-num {
	width: 65px;
	height: 25px;
	color: #15963d;
	text-align: center;
	border-radius: 15px;
	border: 1px solid #15963d;
}

.order-sidebar{
	position: stiky;
	top: 10px;
}

.order-sidebar .subtoltal{
	padding: 30px;
	border-radius: 30px;
	box-shadow: 0px 0px 20px #ccc;
	background-color: #fff;
}

.subtoltal .cart-subtoltal{
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 17px;
	font-weight: bold;
	line-height: 45px;
}

.subtoltal .cart-subtoltal .cart-col{
	color: #635F5F;
}

.subtoltal .cart-subtoltal .cart-totle{
	color: #15963d;
}

.subtoltal .cart-btn a{
	display: block;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	margin-top: 30px;
	padding: 7px 10px;
	border-radius: 11px;
	text-align: center;
	text-transform: uppercase;
	background-color: #15963d;
}

.subtoltal .cart-btn a:hover{
	background-color: #EC2C37;
}