.layout-page{
	padding: 60px 0px;
}

.page .title-head {
    font-size: 32px;
    color: #000;
    font-weight: 600;
    text-decoration: none;
    margin-bottom: 20px;
}

.pg_page .content-page {
	color: #000;
    font-size: 15px;
}

.content-page ul,.content-page ol {
    padding-left: 20px;
    list-style: disc;
    margin-bottom: 20px
}

.content-page h2 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.content-page h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.content-page h4 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.content-page h5 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.content-page p {
    margin-bottom: 10px;
    font-size: 15px
}

.content-page table{
	width: 100%;
	margin-bottom: 50px;
}

.content-page table th,
.content-page table td{
	padding: 10px;
}

.content-page table th{
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	background-color: #E5E5E5;
	border: 1px solid #828282;
}

.content-page table td{
	font-size: 16px;
	border: 1px solid #828282;
}